In [103]:
import pandas as pd

In [104]:
import numpy as np

In [105]:
import streamlit as st

In [106]:
df = pd.read_csv('vehicles_us.csv')

In [107]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [108]:
df['model_year'] = df['model_year'].fillna(df['model_year'].median())

In [109]:
df['odometer'] = df['odometer'].fillna(df['odometer'].median())

In [110]:
df['paint_color'] = df['paint_color'].fillna('unknown')

In [111]:
df['is_4wd'] = df['is_4wd'].fillna(0)

In [112]:
df['cylinders'] = df['cylinders'].fillna(0)

In [113]:
print(df.isna().sum())

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [114]:
df.describe()

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,51525.000000,51525.000000,51525.000000,51525.000000,51525.00000
mean,12132.464920,2009.838234,5.499932,115162.352179,0.496303,39.55476
std,10040.803015,6.065836,2.431985,59909.264385,0.499991,28.20427
min,1.000000,1908.000000,0.000000,0.000000,0.000000,0.00000
25%,5000.000000,2007.000000,4.000000,79181.000000,0.000000,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,0.000000,33.00000
75%,16839.000000,2014.000000,8.000000,146541.000000,1.000000,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.000000,271.00000

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [116]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,113000.0,automatic,pickup,unknown,0.0,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28

In [117]:
model_choice = df['model'].unique()

In [118]:
selected_model = st.selectbox('Select a model', model_choice)

In [119]:
min_year, max_year = int(df['model_year'].min()), int(df['model_year'].max())

In [120]:
year_range = st.slider('Choose Year Range', min_value=min_year, max_value=max_year, value=(min_year, max_year))

In [121]:
actual_range = list(range(year_range[0], year_range[1]+1))

In [122]:
df_filtered = df[(df['model'] == selected_model) & (df['model_year'].isin(actual_range))]
df_filtered

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19
58,3200,2004.0,bmw x5,excellent,6.0,gas,113000.0,automatic,SUV,black,1.0,2019-04-09,10
87,8499,2009.0,bmw x5,good,0.0,gas,104482.0,automatic,SUV,blue,1.0,2019-03-04,52
204,22914,2015.0,bmw x5,excellent,6.0,gas,69686.0,automatic,SUV,white,1.0,2018-08-11,19
271,22914,2015.0,bmw x5,excellent,6.0,gas,69686.0,automatic,SUV,white,1.0,2018-07-07,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50828,6000,2001.0,bmw x5,excellent,6.0,gas,153000.0,other,hatchback,unknown,1.0,2018-05-23,52
50837,2500,2011.0,bmw x5,good,6.0,gas,150000.0,automatic,SUV,black,1.0,2019-04-19,79
50851,23000,2012.0,bmw x5,like new,6.0,gas,1186.0,automatic,SUV,brown,0.0,2018-08-28,22
51143,4900,2006.0,bmw x5,excellent,6.0,gas,207000.0,automatic,truck,white,1.0,2019-01-13,52
51474,7980,2003.0,bmw x5,excellent,6.0,gas,113000.0,automatic,SUV,unknown,1.0,2019-01-28,53

In [123]:
list_for_his = ['transmission', 'type', 'model']

In [124]:
selected_type = st.selectbox('Split For Price Distribution', list_for_his)

In [128]:
print(df_filtered[selected_type].dtype)

category

In [130]:
df_filtered[selected_type] = df_filtered[selected_type].astype('object')

/var/folders/8r/vcvvf5016znf5wfxtkklyh3w0000gn/T/ipykernel_10223/714929961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[selected_type] = df_filtered[selected_type].astype('object')

In [131]:
df_filtered[selected_type].unique()

array(['automatic', 'manual', 'other'], dtype=object)